
  <form action="" class="login-card" [formGroup]="categoryForm">
    <h3 class="tittle-form">Nueva Categoria</h3>
    <mat-form-field appearance="fill" class="login-full-width">
      <mat-label>Categoria</mat-label>
      <input type="text" matInput formControlName="category">
      <mat-error *ngIf="categoryForm.get('category').hasError('required')">Campo requerido</mat-error>
    </mat-form-field>
    <mat-form-field class="file-browser">
      <div>
        <mat-toolbar>
          <!-- Display files names -->
          <input matInput formControlName="image" readonly name="name" [value]="fileAttr" />

          <!-- Browse Button -->
          <button mat-flat-button color="primary">
            Buscar Imagen
          </button>
        </mat-toolbar>

        <!-- Fetch selected filed on change -->
        <input type="file" #fileInput id="uploadFile" (change)="uploadFileEvt($event)" name="uploadFile" multiple="multiple"
          accept="image/*" />
      </div>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="center" style="margin-bottom: 10px;" >
      <img [src]="imageURL" alt="imagen" width="150" height="150" *ngIf="imageURL">
    </div>
    <mat-spinner></mat-spinner>
  </form>
  <button mat-raised-button class="button-login" color="primary" (click)="createCategory()">Agregar Categoria</button>

