.login-full-width {
  width: 100%;
}

.login-card {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.button-login {
  max-width: 500px;
  width: 100%;
}

.tittle-form{
  text-align: center;
}

.fileInput{
  color: rgba(46, 45, 45, 0.3) !important;
}

.file-browser {
    margin: 10px 0;
    width: 100%;
}

.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
}

.mat-toolbar-single-row button {
  width: 200px;
}


#uploadFile {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9;
  opacity: 0;
  height: 100%;
  cursor: pointer;
  position: absolute;
}
