<div class="container-form-newquestion">
  <form [formGroup]="questionForm">
    <mat-form-field appearance="fill" class="full-widht">
      <mat-label>Pregunta</mat-label>
      <input type="text" matInput placeholder="Ingresar pregunta" formControlName="question">
      <mat-error *ngIf="questionForm.get('question').hasError('required')">Campo requerido</mat-error>
    </mat-form-field>
    <div style="margin-top: 10px;">
      <quill-editor [styles]="{height: '250px'}" formControlName="answer"></quill-editor>
      <mat-error *ngIf="questionForm.get('answer').hasError('required') && questionForm.get('answer').touched">Campo requerido</mat-error>
    </div>
    <div fxLayout="row" fxLayoutAlign="end" style="width: 100%;" class="container-buttons">
      <button mat-stroked-button color="warn"  (click)="closeDialog()">Cancelar</button>
      <button mat-raised-button color="primary" style="margin-left: 10px;" (click)="saveQuestion()" >Agregar Pregunta</button>
    </div>
  </form>
</div>
