<div fxLayoutAlign="row" fxLayoutAlign="center">
  <h2 class="titlle-form-register">Registro</h2>
</div>
<div  [formGroup]="registerForm">
  <mat-form-field appearance="fill" class="input-fullwidth">
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="nombre" formControlName="name">
    <mat-error *ngIf="registerForm.get('name').hasError('required')">Campo requerido</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" class="input-fullwidth" >
    <mat-label>Correo</mat-label>
    <input matInput placeholder="pat@ejemplo.com" formControlName="email">
    <mat-error *ngIf="registerForm.get('email').hasError('required')">Campo requerido</mat-error>
    <mat-error *ngIf="registerForm.get('email').hasError('email')">Correo invalido</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" class="input-fullwidth">
    <mat-label>Contraseña</mat-label>
    <input matInput placeholder="Contraseña" formControlName="password" [type]="hide1 ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
      <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="registerForm.get('password').hasError('required')">Campo requerido</mat-error>
    <mat-error *ngIf="registerForm.get('password').hasError('minlength')">Minimo 8 caracteres</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" class="input-fullwidth">
    <mat-label>Confirmar Contraseña</mat-label>
    <input type="password" matInput placeholder="Confirmar Contraseña" formControlName="confirmPassword">
    <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
      <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="registerForm.get('confirmPassword').hasError('required')">Campo requerido</mat-error>
    <mat-error *ngIf="registerForm.get('confirmPassword').hasError('NoPassswordMatch')">Las contraseñas no coinciden</mat-error>
  </mat-form-field>
</div>
<div fxLayout="row" fxLayoutAlign="end" style="width: 100%;">
  <button mat-stroked-button color="warn" (click)="closeDialog()">Cancelar</button>
  <button mat-raised-button color="primary" style="margin-left:15px;">Registrarse</button>
</div>
