<div class="question-main-container">
  <div fxLayout="row" fxLayoutAlign="end" class="cotainer-button-newquestion">
    <button mat-raised-button color="primary" (click)="onCreateDialog()"> <mat-icon>add</mat-icon> Nueva Pregunta </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.lt-md="column" style="margin-top: 30px;">
    <div class="question-container">
      <div>
        <app-question-card></app-question-card>
      </div>
    </div>

  </div>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
  <div class="title-container" fxLayout="row" fxLayoutAlign="center center">
    <h5 class="title-question1">{{ question.question}}</h5>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
  <button mat-raised-button color="primary" (click)="onCreateViewAnswer()" >Ver Respuesta</button>
</div>
<div fxLayout="row" fxLayoutAlign="center" style="margin-top: 25px;">
  <div #scrollbarRef class="question-container">
    <!-- <ng-container *ngFor="let question of questions">
      <mat-card class="example-card" (click)="viewQuestion(question)" style="cursor: pointer;">
        <mat-card-header class="card-header">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="title-question">{{question.question}}</mat-card-title>
          <mat-card-subtitle>{{nameCategory.category}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </ng-container> -->
    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option *ngFor="let question of questions" [value]="shoe" (click)="viewQuestion(question)">
        {{question.question}}
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>

