.question-main-container{
  width: 100%;
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.example-card {
  margin-top: 10px;
  max-width: 500px;
  width: 100%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

/* .questions-container{
  height: 100%;

} */
.card-header{
  max-width: 500px;
  width: 100%;
}

.title-question {
  width: 100%;
  max-width: 400px;
  overflow-wrap: break-word;
}


/* Question Container */
.question-container{

  max-width: 550px;
  max-height: 700px;
  width: 100%;
  overflow-y: auto;

}

.container-button-question{

  display: flex;
  justify-content: center;
}

.button-edit-question{
  margin-top: 180px;
  width: 100%;
}

.cotainer-button-newquestion{
  margin-top: 25px;
}

.title-container {
  height: 300px;
  padding: 0 20px;
}

.title-container h5{
  max-width: 1000px;
}

.title-question1 {
  text-align: center;
  font-size: 50px;
  line-height: 0.95em;
  overflow-wrap: break-word;


}
