<div class="question-main-container">
  <div fxLayout="row" class="cotainer-button-newquestion">
    <button mat-raised-button color="primary" (click)="onCreateDialog()"> <mat-icon>add</mat-icon> Nueva Pregunta </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.lt-md="column" style="margin-top: 30px;">
    <!-- <div fxLayout="column" fxLayoutAlign="space-between center"> -->
      <div #scrollbarRef class="scroll-style my-scrollbar">
        <ng-container *ngFor="let i of [1,2,3,4,5,6,7]">
          <mat-card class="example-card">
            <mat-card-header class="card-header">
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title class="title-question">dddddddddddddddddddddddddddddddddddddddddddddddddddd</mat-card-title>
              <mat-card-subtitle>categoria</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </ng-container>
      </div>
    <!-- </div> -->
    <div class="question-container">
      <div>
        <app-question-card></app-question-card>
      </div>
    </div>
  </div>

  <div style="height: 500px; width: 700px;">
    <form action="" [formGroup]="editForm">
      <quill-editor formControlName="editor" style="height: 100%;"></quill-editor>
      <button mat-raised-button color="primary" (click)="enviar()">Enviar</button>
    </form>
  </div>
</div>
